
  /* THIS CHANGES ARE FOR THE BUBBLES THAT POR UP WHEN YOU HOVER */


  .output-style{
    font-family: 'Lato', sans-serif;
    font-size: 1.25vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--white);
    padding: 7% 0 0 0;

    /* CHANGED IN 1ST ROUND OF BUGS */
    position: relative;
    display: inline-block;
  }
  /* THIS IS NEW FOR THE BUBBLES!!!! */



.bubble1 {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--white);
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 140%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 260px;
  text-align: left;
  letter-spacing: 0.2px;
  font-size: 13px;
  line-height: 1.88;

}

.bubble1::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 26px 15px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 1;
  right: 100%;
  top: 31%;
}
.output-style:hover .bubble1 {
  visibility: visible;
}

.bubbleTitle1{
  text-decoration: underline;
  margin: 0;
}

.bubble2 {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--white);
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 350px;
  text-align: left;
  letter-spacing: 0.2px;
  font-size: 13px;
  line-height: 1.88;

}

.bubble2::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 26px 15px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 1;
  right: 100%;
  top: 31%;
}

.box-perc:hover .bubble2 {
  visibility: visible;
}